<form class="form" [formGroup]="form">
  <header>
    <h1>Push notification sender</h1>
    <span>Select an user to send a push notification</span>
  </header>
  <select formControlName="user" name="user-select" id="user-select">
    <option value="todos" selected>Todos</option>
    <option value="cristian-mobile">Cristian Mobile</option>
    <option value="cristian-desktop">Cristian Desktop</option>
  </select>

  <select formControlName="course" name="course-select" id="course-select">
    <option value="1">Primero A</option>
    <option value="2">Primero B</option>
    <option value="3">Primero C</option>
    <option value="4">Segundo A</option>
    <option value="5" selected>Segundo B (Acá están todos)</option>
    <option value="6">Segundo C</option>
    <option value="7">Segundo D</option>
  </select>

  <footer>
    <button class="button primary" type="button" (click)="sendNotificationToUser()">
      Send push notification
    </button>
    
    <button class="button secondary" type="button" (click)="setPermissions()">
        Get push notification
    </button>

    <button class="button primary" type="button" (click)="sendNotificationToGroup()">
      Send group notifications
    </button>
  </footer>
</form>
